@using SpeakHub.Service.ViewModels.TweetViewModels;
@model TweetViewModel

<div class="card w-550px h-630px mt-10 mb-10" style="border: 2px solid rgba(255,255,255,0.1); backdrop-filter: blur(15px); margin-left:auto; margin-right:auto; background-color: rgba(255,255,255,0.13); box-shadow: 0 0 20px rgba(8,7,16,0.6);">
    <div class="py-10 pe-10 px-10">
        <form asp-controller="Tweet" enctype="multipart/form-data" asp-action="update" asp-route-orderId="@ViewBag.Id" method="post">
            <label class="form-label fs-2 text-primary" style="">Tweet Update</label>
            <div class="mt-5">
                <label class="required form-label text-primary">Tweet TweetText</label>
                <input type="text" asp-for=TweetText class="form-control form-control-solid" style="backdrop-filter: blur(1px); background-color: rgba(255,255,255,0.13)" />
                <span asp-validation-for="TweetText" class="text-danger"></span>
            </div>

            <div class="mt-5">
                <label class="required form-label text-primary">Tweet EditTweetText</label>
                <input type="text" asp-for=EditTweetText class="form-control form-control-solid" style="backdrop-filter: blur(1px); background-color: rgba(255,255,255,0.13)" />
                <span asp-validation-for="EditTweetText" class="text-danger"></span>
            </div>

            <div class="mt-5">
                <label class="required form-label text-primary">Tweet LikeCount</label>
                <input type="text" asp-for=LikeCount class="form-control form-control-solid" style="backdrop-filter: blur(1px); background-color: rgba(255,255,255,0.13)" />
                <span asp-validation-for="LikeCount" class="text-danger"></span>
            </div>

            <div class="mt-5">
                <label class="required form-label text-primary">Tweet CommentCount</label>
                <input type="text" asp-for=CommentCount class="form-control form-control-solid" style="backdrop-filter: blur(1px); background-color: rgba(255,255,255,0.13)" />
                <span asp-validation-for="CommentCount" class="text-danger"></span>
            </div>

            <div class="form-check form-check-custom form-check-solid mt-5 ">
                <input class="form-check-input" type="checkbox" value="" />
                <label class="form-check-label text-primary" for="flexCheckDefault" style="color: #ffffff">
                    I <a href="www.google.com">agree</a> to the terms of use!
                </label>
            </div>
            <div class="mt-8">
                <input type="submit" class="btn btn-primary rounded hover-scale" style="width:100%;" value="Update" />
            </div>
        </form>
    </div>
</div>