@using SpeakHub.Service.Dtos.Admins;
@model AdminRegisterDto
@{
    Layout = "_AdminAccountLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Validation in HTML | CodingNepal</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
</head>
<body>
    <form asp-controller="accounts" enctype="multipart/form-data" asp-action="register" method="post">
        <h2>Welcome to SpeakHub Registration</h2>
        <div class="form-group fullname">
            <label for="fullname">First Name</label>
            <input type="text" asp-for=FirstName id="fullname" placeholder="Enter your first name">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group fullname">
            <label for="fullname">Last Name</label>
            <input type="text" asp-for=LastName id="fullname" placeholder="Enter your last name">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div><div class="form-group fullname">
            <label for="fullname">Phone Number</label>
            <input type="text" asp-for=PhoneNumber id="fullname" placeholder="Enter your phone number">
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group email">
            <label for="email">Email Address</label>
            <input type="text" asp-for=Email id="email" placeholder="Enter your email address">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group password">
            <label for="password">Password</label>
            <input type="password" asp-for=Password id="password" placeholder="Enter your password">
            <span asp-validation-for="Password" class="text-danger"></span>
            <i id="pass-toggle-btn" class="fa-solid fa-eye"></i>
        </div>
        <div class="form-group date">
            <label for="date">Birth Date</label>
            <input type="date" asp-for=BirthDate id="date" placeholder="Select your date">
            <span asp-validation-for="BirthDate" class="text-danger"></span>
        </div>
        <div class="form-group gender">
            <label for="gender">Gender</label>
            <select id="gender" asp-for="Gender" placeholder="Select your gender">
                <option value="" selected disabled>Select your gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
        <div class="form-group submit-btn">
            <input type="submit" value="Submit" asp-controller="accounts" asp-action="login">
        </div>
    </form>
</body>
</html>
